* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}
.text-white{
  color:white !important;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 2.25rem;
  color: #000;
  line-height: 2.8rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #000;
  font-weight: bold;
  padding: 15px 0;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #000;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 10px 0;
  color: #000;
}
@media(max-width:600px){
  
  p {
    font-size: 1.1rem;
  }
}

/* .MuiButton-containedPrimary:hover{
  background-color: #091FF7 !important;
} */
ol,ul{
  margin-left: 20px;
}

@media(min-width:1280px) {

  section {
    padding: 60px 100px 60px 100px;
  }

}

@media(max-width:1280px) {
  section {
    padding: 40px 40px;
  }
  .banner-section{
    padding: 80px 40px;
  }

  h1 {
    font-size: 1.5rem !important;
    line-height: 2.2rem !important;
  }

  h2 {
    font-size: 1.3rem !important;
    line-height: 1.8rem !important;
  }

  h3 {
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
  }
}

@media(min-width:960px) {
  .desktop-display-none{
    display: none !important;
   }
}
@media(max-width:960px) {
.mobile-no-header{
  display: none !important;
   }
}
@media(max-width:600px) {
  section {
    padding: 40px 20px;
  }
  .banner-section{
    padding: 80px 20px;
  }
  .mob-display-none{
    display: none !important;
   }
}
input,textarea,input:focus,textarea:focus,select{
  background: transparent;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid darkgray;
  border-radius:4px;
  font-size: 16px;
  background: white;
}
textarea{
    height:80px;
    resize:none;
}
